.waterfall-content-banner .row:first-child {
	padding-top: 13vh;
	width: 100%;
}

.waterfall-content-banner img {
	margin: 0 auto;
}

.waterfall-banner h1:first-child {
	margin-top: 1em;
}

.waterfall-content-banner .row {
	padding-bottom: 3vw;
}

.wtrfall-content {
	font-family: 'PT Sans', sans-serif;
}

hr {
	border-top: 1px solid black !important;
}

.zoomimg {
	margin: 3vw 0 0 4vw;
}